<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salon Manager</title>
  </head>
  <body>
    <h1>Stylists</h1>
    <form action='/results' method='post'>
      <label for='stylist'></label>
      <input type='text' id='stylist' name='stylist'>
      <button type='submit'>Submit</button>
    </form>

  </body>
</html>
