.jumbotron{
    text-align: center;
}

body{

    background-color: grey;
}
h1{
    font-family: 'Indie Flower';
    color: black;
}

h2{
    font-family: 'Indie Flower';
    color: black;

}
h3{
    font-family: 'Indie Flower';
    color: black;

}

h4{

    font-weight: bold;
}

.container {
  margin-bottom: 60px;
}

a {
    text-decoration: underline;
}
