body{

    background-color: 	skyblue;
}
h1{
    font-family: 'Indie Flower';
    color: black;
    text-decoration: underline;

}

h2{
    font-family: 'Indie Flower';
    color: black;

}
h3{
    font-family: 'Indie Flower';
    color: black;

}

h4{

    font-weight: bold;
}
